@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 2.4rem;
  border-radius: 10rem;
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.1s linear;
}
.btn-orange {
  background-color: #ffb100;
}
.btn-blue {
  background-color: #0085ff;
}
.btn:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.nav {
  flex-basis: 100%;
  width: 100%;
  padding: 0 5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.nav__logo {
  padding: 1rem;
}
.nav__logo-img {
  width: 12rem;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 0;
  z-index: 9999;
}
.nav__item {
  margin: 0 1.8rem;
}
.nav__item-link {
  color: #0085ff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.nav__item-link:hover {
  transform: translateX(-0.5rem);
}
.nav__item-link::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: #0085ff;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.4s;
}
.nav__item-link:hover::before {
  width: 80%;
}
.nav__icon-menu {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .nav__list {
    width: 75%;
  }
}
@media only screen and (max-width: 1000px) {
  .nav__list {
    width: 80%;
  }
}
@media only screen and (max-width: 800px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__logo-img {
    width: 15rem;
  }
  .nav__icon-menu {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    fill: #0085ff;
    z-index: 9999;
  }
  .nav__list {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100vh;
    width: 30rem;
    max-width: 100%;
    background: white;
    z-index: 9998;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 5rem;
    transition: all 0.3s ease-in-out;
  }
  .nav__list.visible {
    transform: translateX(0);
  }
  .nav__item {
    padding: 3rem 2rem;
  }
  .nav__item a {
    font-size: 2.5rem;
  }
}

.header {
  width: 100%;
  display: flex;
  position: relative;
}
.header__placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../images/header-bg.png);
  background-position: top;
  background-size: cover;
  z-index: 9996;
}
.header__left {
  width: 55%;
  background-color: #0084ff;
  padding: 8rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header__title {
  font-size: 12rem;
  color: white;
  font-weight: 900;
  line-height: 1;
  position: relative;
  text-align: center;
}
.header__title:first-child::before {
  content: "&";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  opacity: 0.9;
  color: orange;
  z-index: 100;
}
.header__title--yllw {
  font-size: 9rem;
  color: orange;
  font-weight: 900;
  line-height: 1;
  position: relative;
  text-align: center;
}
.header__message {
  width: 100%;
  padding: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 2.3rem;
}
.header__btn {
  z-index: 9997;
}
.header__right {
  width: 45%;
}
.header__carousel--item {
  height: 90vh;
  position: relative;
}
.header__carousel--overlay-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
  }
  .header__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }
  .header__title {
    font-size: 12rem;
  }
  .header__right {
    width: 100%;
  }
  .header__placeholder {
    display: none;
  }
  .header__carousel--item {
    height: 50vh;
    position: relative;
  }
}

.about-program {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  background-image: url(../../images/aboutt-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-program__title {
  color: white;
}
.about-program__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background-color: #ff9102;
  padding: 0.5rem 1rem;
  text-align: center;
}
.about-program__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.about-program__container--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: white;
  margin-right: 5rem;
  padding: 5rem 3rem;
}
.about-program__container--right {
  width: 40%;
  display: flex;
  align-items: center;
}
.about-program__requirements-item {
  text-align: left;
  color: black;
}
.about-program__requirements {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  padding: 0 3rem;
  font-weight: 700;
  margin-bottom: 5rem;
}
.about-program__buttons {
  width: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 800px) {
  .about-program__buttons {
    flex-direction: column;
    align-items: space-around;
    justify-content: space-between;
    padding: 0;
  }
  .about-program__buttons .btn {
    margin: 1rem 0;
  }
}
.about-program__first-img {
  width: 25rem;
  height: auto;
  border: 5px solid white;
}
.about-program__last-img {
  width: 30rem;
  margin-left: 5rem;
  border: 5px solid white;
}
@media only screen and (max-width: 800px) {
  .about-program__title {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .about-program__container {
    flex-direction: column-reverse;
  }
  .about-program__container--left {
    width: 100%;
    margin: 0;
  }
  .about-program__container--right {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
  }
  .about-program__last-img {
    display: none;
  }
}

.about-company {
  display: flex;
  background-color: #ebf1f7;
  background-size: cover;
  padding: 3rem;
  align-items: center;
}
.about-company__img {
  width: 40%;
  margin: 3rem;
  border-radius: 1rem;
  box-shadow: -1rem 1rem 0 #ffb100;
}
.about-company__content {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-company__title {
  color: #0085ff;
  margin-bottom: 5rem;
}
.about-company__text {
  font-size: 2rem;
}
.about-company__btn {
  margin-top: 5rem;
}
@media only screen and (max-width: 500px) {
  .about-company {
    padding: 3rem;
    flex-direction: column;
  }
  .about-company__img {
    margin-bottom: 5rem;
    width: 80%;
    transform: translateX(1rem);
  }
  .about-company__text {
    padding: 0 2rem;
    text-align: justify;
  }
  .about-company__content {
    margin-left: 0;
  }
}

.alumni {
  background-image: url(../../images/alumni-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}
.alumni__title {
  color: white;
  background-color: #ffb100;
  padding: 0 2rem;
  margin: 2rem 0;
}
.alumni__text {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  padding: 2rem 4rem;
}
.alumni__item {
  text-decoration: none;
}
.alumni__item-container {
  padding: 3rem;
  display: flex;
  height: 60rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.alumni__photo {
  height: 80%;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}
.alumni__photo-eye {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border-radius: 50%;
  content: "";
  width: 5rem;
  height: 5rem;
  background-image: url(../../images/eye.png);
  background-size: cover;
}
.alumni__photo:hover .alumni__photo-eye {
  background-image: url(../../images/eye-open.png);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.alumni__content {
  background-color: #ffb100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  width: 100%;
}
.alumni__program {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  text-align: center;
  background-color: #0085ff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
.alumni__name--first, .alumni__name--last {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}
.alumni__description {
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
}
@media only screen and (max-width: 600px) {
  .alumni__text {
    font-size: 2.5rem;
  }
  .alumni__content {
    padding: 3rem;
  }
  .alumni__name {
    display: flex;
    justify-content: center;
  }
  .alumni__name--first, .alumni__name--last {
    margin: 0 1rem;
    font-size: 5rem;
  }
  .alumni__program {
    font-size: 4rem;
  }
  .alumni__description {
    font-size: 3rem;
  }
}

.our-credibility {
  display: flex;
  background-image: url(../../images/our-credibility.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.our-credibility__left {
  width: 65%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 177, 1) 0%, rgb(255, 177, 1) 75%, rgb(255, 177, 1) 100%);
}
.our-credibility__title {
  color: white;
  font-weight: 700;
}
.our-credibility__text {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.our-credibility__list {
  list-style: none;
  margin-top: 2rem;
}
.our-credibility__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.our-credibility__subtitle {
  color: #0085ff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}
.our-credibility__list-item-icon {
  width: 8rem;
  margin-right: 3rem;
}
@media only screen and (max-width: 800px) {
  .our-credibility {
    flex-direction: column-reverse;
    background-size: cover;
    background-position: center;
  }
  .our-credibility__left {
    width: 100%;
    padding: 5rem 3rem;
  }
  .our-credibility__right {
    display: none;
  }
  .our-credibility__list-item-icon {
    width: 8rem;
    height: 8rem;
    margin-right: 2rem;
  }
}

.sponsors {
  display: flex;
}
.sponsors__left, .sponsors__right {
  width: 50%;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors__right {
  border-left: 1px solid #366b9c;
}
.sponsors__title {
  color: #0085ff;
}
.sponsors__img {
  width: 100%;
  margin: 5rem 0;
}
@media only screen and (max-width: 800px) {
  .sponsors {
    flex-direction: column-reverse;
  }
  .sponsors__right {
    width: 100%;
    padding-bottom: 1rem;
  }
  .sponsors__left {
    width: 100%;
    padding-top: 5rem;
    border-top: 1px solid #366b9c;
  }
  .sponsors__left img {
    margin: 5rem 0 0 0;
  }
  .sponsors__img {
    width: 100%;
  }
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  background-image: url(../../images/album-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.album__title {
  color: white;
  background-color: #0084ff;
  padding: 0.5rem 2rem;
}
.album__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.album__img {
  width: 90%;
  margin: 3rem 0;
}
@media only screen and (max-width: 800px) {
  .album {
    padding: 2rem;
  }
  .album__title {
    margin: 0 3rem;
    font-size: 3rem;
  }
  .album__img {
    width: 100%;
    margin: 3rem 1rem;
  }
}

.team {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../images/consultation-bg.png);
  background-size: cover;
  background-position: center;
}
.team__title {
  color: white;
}
.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__persons {
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}
.team__person-img {
  width: 70%;
  border-radius: 5rem;
}
.team__person-info {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2rem 0;
  color: white;
}
.team__person-info--email {
  padding-top: 2rem;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 1.5rem;
}
.team__person-info--position {
  padding: 0.8rem 2rem;
  text-transform: capitalize;
  background-color: #ffb100;
  font-weight: 700;
  border-radius: 1rem;
  margin-top: 1rem;
  font-size: 1.8rem;
}
.team__consultation {
  padding: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}
.team__consultation-text {
  text-align: center;
  color: white;
  margin: 3rem 0;
}
@media only screen and (max-width: 800px) {
  .team {
    padding: 5rem 0;
  }
  .team__title {
    font-size: 5rem;
  }
  .team__content {
    padding: 2rem 5rem;
    flex-direction: column;
    overflow: hidden;
  }
  .team__persons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  .team__person {
    margin: 3rem 0;
    width: 100%;
    flex: 0 0 auto;
  }
  .team__person-img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
  }
  .team__person-info {
    font-size: 4rem;
  }
  .team__person-info--email {
    font-size: 2rem;
  }
  .team__person-info--position {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .team__consultation {
    padding: 0 1rem;
    width: 90%;
  }
  .team__consultation-text {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
}

.faq {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq .h2 {
  color: #0085ff;
}
.faq__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media only screen and (max-width: 800px) {
  .faq__content {
    flex-direction: column;
  }
}
.faq__section {
  width: 50%;
}
@media only screen and (max-width: 800px) {
  .faq__section {
    width: 100%;
  }
}
.faq__question {
  background-color: #efefef !important;
  border: none !important;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
  transition: all 0.3s;
}
.faq__question span {
  position: absolute;
  right: 1.2rem;
  top: 0.5rem;
  font-size: 2.5rem;
}
.faq__question:hover {
  background-color: #ddd !important;
}
.faq__answer {
  font-size: 1.4rem;
  font-weight: 400;
  color: #0085ff;
}
.faq ul {
  margin: 0;
}
.faq li {
  border: none !important;
}

.footer {
  background-color: #0085ff;
  font-size: 1.5rem;
  color: #fff;
  padding: 5rem;
  position: relative;
}
.footer .offices {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .offices__office {
  list-style: none;
  margin-bottom: 3rem;
  width: 18%;
  padding: 0 !important;
}
@media only screen and (max-width: 800px) {
  .footer .offices__office {
    width: 50%;
    font-size: 1.8rem;
  }
}
.footer .offices__office-detail {
  margin-bottom: 1rem;
}
.footer .offices__office-detail:first-child {
  font-weight: 700;
  color: #ffb100;
}
.footer .offices img {
  width: 23%;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 800px) {
  .footer .offices img {
    display: none;
  }
}
.footer__low {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
  font-size: 2rem;
}
.footer__social a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__social a:hover {
  color: #ffb100;
}

.certificates,
.sponsors {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.certificates .h2,
.sponsors .h2 {
  color: #0085ff;
}

.copyright {
  background-color: #003568;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  padding-bottom: 1rem;
  color: #fff;
}
.copyright__social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
  font-size: 2rem;
}
.copyright__social a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.copyright__social a:hover {
  color: #ffb100;
}

.steps {
  color: #0085ff;
  background-color: #fafafa;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.steps__img {
  width: 100%;
  margin-top: 5rem;
}
.steps__img.small {
  display: none;
}
@media only screen and (max-width: 600px) {
  .steps__img.small {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .steps__img.big {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */