.header {
  width: 100%;
  display: flex;
  position: relative;

  &__placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../images/header-bg.png);
    background-position: top;
    background-size: cover;
    z-index: 9996;
  }

  &__left {
    width: 55%;
    background-color: #0084ff;
    padding: 8rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__title {
    font-size: 12rem;
    color: white;
    font-weight: 900;
    line-height: 1;
    position: relative;
    text-align: center;

    &:first-child::before {
      content: "&";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 8rem;
      opacity: 0.9;
      color: orange;
      z-index: 100;
    }

    &--yllw {
      font-size: 9rem;
      color: orange;
      font-weight: 900;
      line-height: 1;
      position: relative;
      text-align: center;
    }
  }

  &__message {
    width: 100%;
    padding: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 2.3rem;
  }

  &__btn {
    z-index: 9997;
  }

  &__right {
    width: 45%;
  }

  &__carousel {
    &--item {
      height: 90vh;
      position: relative;
    }

    &--overlay-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: center;
      background-size: cover;
    }
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column;

    &__left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem;
    }

    &__title {
      font-size: 12rem;
    }

    &__right {
      width: 100%;
    }

    &__placeholder {
      display: none;
    }

    &__carousel {
      &--item {
        height: 50vh;
        position: relative;
      }
    }
  }
}
