.about-program {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  background-image: url(../../images/aboutt-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    color: #0085ff;
  }

  &__subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    width: fit-content;
    color: white;
    background-color: #0085ff;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      background-color: #f4f4f4;
      margin-right: 5rem;
      padding: 5rem 2rem;
      border-radius: 3rem;
    }

    &--right {
      width: 40%;
      display: flex;
      align-items: center;
      justify-items: center !important;
    }
  }

  &__requirements-item {
    text-align: left;
    color: black;
  }

  &__requirements {
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 0 3rem;
    font-weight: 700;
    margin-bottom: 5rem;
  }

  &__buttons {
    width: 100%;
    padding: 0 5rem;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: space-around;
      justify-content: space-between;
      padding: 0;

      .btn {
        margin: 1rem 0;
      }
    }
  }

  &__img {
    width: 80%;
    margin-left: 5rem;

    @media only screen and (max-width: 800px) {
      width: 80%;
      margin: 3rem 0;
    }
  }

  @media only screen and (max-width: 800px) {
    &__title {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
    }

    &__container {
      flex-direction: column-reverse;

      &--left {
        width: 100%;
        margin: 0;
      }

      &--right {
        width: 100%;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
      }
    }

    &__last-img {
      display: none;
    }
  }
}

.about-company {
  display: flex;
  background-color: #f4f4f4;
  background-size: cover;
  padding: 3rem;
  align-items: center;

  &__img {
    width: 40%;
    margin: 3rem;
  }

  &__content {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: #0085ff;
    margin-bottom: 5rem;
  }

  &__text {
    font-size: 2rem;
  }

  &__btn {
    margin-top: 5rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 3rem;
    flex-direction: column;

    &__img {
      margin-bottom: 5rem;
      width: 80%;
      transform: translateX(1rem);
    }

    &__text {
      padding: 0 2rem;
      text-align: justify;
    }

    &__content {
      margin-left: 0;
    }
  }
}

.alumni {
  background-image: url(../../images/alumni-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;

  &__title {
    color: #0085ff;
    padding: 0 2rem;
    margin: 2rem 0;
  }

  &__text {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    padding: 2rem 4rem;
  }

  &__item {
    text-decoration: none;
  }

  &__item-container {
    padding: 3rem;
    display: flex;
    height: 50rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__photo {
    height: 75%;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 2rem 1rem;
  }

  &__year {
    background-color: #ffb100;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }

  &__photo-eye {
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    content: "";
    width: 5rem;
    height: 5rem;
    background-image: url(../../images/eye.png);
    background-size: cover;
  }

  &__photo:hover {
    .alumni__photo-eye {
      background-image: url(../../images/eye-open.png);
      box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.4);
    }
  }

  &__content {
    background-color: #0085ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    width: 100%;
    height: 25%;
  }

  &__program {
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    text-align: center;

    background-color: #0085ff;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }

  &__name {
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    text-align: center;
  }

  &__instagram {
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    background-size: contain;
    background-repeat: no-repeat;

    &__content {
      padding: 3rem;
    }

    &__name,
    &__instagram {
      font-size: 3rem;
    }

    &__program {
      font-size: 4rem;
    }

    &__description {
      font-size: 3rem;
    }
  }
}

.our-credibility {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__content {
    display: flex;
  }

  &__left {
    width: 70%;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
  }

  &__right {
    width: 20%;
    display: flex;
    juscify-content: center;
    align-items: center;

    img {
      width: 90%;
      margin-left: 10rem;
    }
  }

  &__title {
    color: #0085ff;
    justify-self: center;
    margin-top: 5rem;
  }

  &__text {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__list {
    list-style: none;
    margin-top: 2rem;
    padding: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 3rem 0;
    border-radius: 2rem;
    background-color: #f4f4f4;
  }

  &__subtitle {
    color: #0085ff;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__list-item-icon {
    width: 8rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: 800px) {
    background-size: cover;
    background-position: center;

    &__left {
      width: 100%;
      padding: 0rem 3rem;
    }

    &__right {
      display: none;
    }

    &__list-item-icon {
      width: 8rem;
      height: 8rem;
      margin-right: 2rem;
    }
  }
}

.sponsors {
  display: flex;
  padding-bottom: 0;

  img {
    transform: scale(0.8);
  }

  &__left,
  &__right {
    width: 50%;
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__right {
    border-left: 1px solid #366b9c;
  }

  &__title {
    color: #0085ff;
  }

  &__img {
    width: 10%;
    margin: 5rem 0;
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column-reverse;

    &__right {
      width: 100%;
      padding-bottom: 1rem;
    }

    &__left {
      width: 100%;
      padding-top: 5rem;
      border-top: 1px solid #366b9c;

      img {
        margin: 5rem 0 0 0;
      }
    }

    &__img {
      width: 100%;
    }
  }
}

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  background-image: url(../../images/album-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    color: white;
    background-color: #ffb100;
    padding: 1rem 4rem;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 0;
  }

  &__img {
    width: 100%;
    margin: 3rem 0;
  }

  @media only screen and (max-width: 800px) {
    padding: 2rem;

    &__title {
      margin: 0 3rem;
      font-size: 2rem;
      padding: 1rem;
    }

    &__img {
      width: 100%;
      margin: 3rem 1rem;
    }
  }
}

.team {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0085ff;
  background-size: cover;
  background-position: center;

  &__title {
    color: white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__persons {
    width: 90%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }

  &__person-img {
    width: 70%;
    border-radius: 5rem;
  }

  &__person-info {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2rem 0;
    color: white;

    &--email {
      padding-top: 2rem;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 1.8rem;
    }

    &--position {
      padding: 0.8rem 2rem;
      text-transform: capitalize;
      text-transform: capitalize;
      color: #ffb100;
      font-weight: 700;
      border-radius: 1rem;
      margin-top: 1rem;
      font-size: 2rem;
    }
  }

  &__consultation {
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: #f4f4f4;
  }

  &__consultation-text {
    width: 60%;
    text-align: center;
    margin: 3rem 0;
  }

  @media only screen and (max-width: 800px) {
    padding: 5rem 0;

    &__title {
      font-size: 5rem;
    }

    &__content {
      padding: 2rem 5rem;
      flex-direction: column;
      overflow: hidden;
    }

    &__persons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
    }

    &__person {
      margin: 3rem 0;
      width: 80%;
      flex: 0 0 auto;
    }

    &__person-img {
      object-fit: cover;
      object-position: top;
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
    }

    &__person-info {
      font-size: 4rem;

      &--email {
        font-size: 2rem;
      }

      &--position {
        font-size: 2.5rem;
        margin-top: 2rem;
      }
    }

    &__consultation {
      padding-bottom: 6rem;
    }

    &__consultation-text {
      width: 90%;
    }
  }
}

.faq {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .h2 {
    color: #0085ff;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__section {
    width: 50%;
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__question {
    background-color: #efefef !important;
    border: none !important;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 1rem;
    transition: all 0.3s;

    span {
      position: absolute;
      right: 1.2rem;
      top: 0.5rem;
      font-size: 2.5rem;
    }
  }

  &__question:hover {
    background-color: #ddd !important;
  }

  &__answer {
    font-size: 1.4rem;
    font-weight: 400;
    color: #0085ff;
  }

  ul {
    margin: 0;
  }

  li {
    border: none !important;
  }
}

.footer {
  background-color: #0085ff;
  font-size: 1.5rem;
  color: #fff;
  padding: 5rem;
  position: relative;

  .offices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__office {
      list-style: none;
      margin-bottom: 3rem;
      width: 18%;
      padding: 0 !important;

      @media only screen and (max-width: 800px) {
        width: 80%;
        font-size: 2.2rem;
      }
    }

    &__office-detail {
      margin-bottom: 1rem;
    }

    &__office-detail:first-child {
      font-weight: 900;
      color: #ffb100;
    }

    &__office-detail.uzb {
      animation: colorChange 4s infinite;
    }

    @keyframes colorChange {
      0% {
        color: white;
      }
      50% {
        color: #ffb100;
      }
      100% {
        color: white;
      }
    }

    img {
      width: 23%;
      position: absolute;
      bottom: 0;
      right: 0;

      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }

  &__low {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    font-size: 2rem;

    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: #ffb100;
      }
    }
  }
}

.certificates,
.sponsors {
  background-color: #f4f4f4;

  img {
    transform: scale(0.7);
  }

  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .h2 {
    color: #0085ff;
  }

  .h3 {
    margin-top: 2rem;
  }
}

.copyright {
  background-color: #003568;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  padding-bottom: 1rem;
  color: #fff;

  &__social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    font-size: 2rem;

    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: #ffb100;
      }
    }
  }
}

.steps {
  color: #0085ff;
  background-color: #fafafa;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 100%;
    margin-top: 5rem;
  }

  &__img.small {
    display: none;

    @media only screen and (max-width: 600px) {
      display: block;
    }
  }

  &__img.big {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}
